@media print {
	BODY,P,UL,TABLE,TH,TD { font-size: 9pt }
}
BODY {
	font-family:"Verdana, Arial", sans-serif;
	margin:2em;
	font-size:80%;
	background-color:#e0e0e0;
}
P,UL,OL,TR,TH {
	line-height:1.4;
}
LI {
	margin-top:3px;
	margin-bottom:3px;
}
TH {
	background-color:#0000C0;
	color:white;
}
TABLE {
	font-size:100%;
}
H1,H2,H3,H4,H5 {
	color:#0000C0;
}
H1 {
	font-size:250%;
}
H2 {
	font-size:200%;
}
H3 {
	font-size:150%;
}
H4 {
	font-size:125%;
}
H5 {
	font-size:100%;
}
CODE {
	font-family:"Courier New", monospace;
	line-height:1.4;
}
PRE CODE {
	line-height:1.3;
}
PRE {
	font-family:"Courier New", monospace;
	line-height:1.2;
	background-color:white;
}
BLOCKQUOTE {
	color:#404040;
	background-color:white;
	font-size:90%;
	line-height:1.4;
}
A:HOVER {
	color:red;
}
*.gray {
	color:#c0c0c0
}
*.bgw {
	background-color:white;
}


